Description: |
  This configuraiton file expects the Organization to be supplied inline i.e.
    Invoke-SCuBA -ConfigFilePath .\config -LogIn $false -Organization sumvitanet.onmicrosoft.com 
ProductNames:
  - aad
M365Environment: commercial
DisconnectOnExit: false
OutFolderName: M365BaselineConformance
OutProviderFileName: ProviderSettingsExport
OutRegoFileName: TestResults
OutReportName: BOD 25-01 Compliance Report-Entra.ID