Description: |
  This configuraiton file expects the Organization to be supplied inline i.e.
    Invoke-SCuBA -ConfigFilePath .\config -LogIn $false -Organization sumvitanet.onmicrosoft.com 
ProductNames:
  - aad
M365Environment: gcchigh
DisconnectOnExit: false
OutPath: .
OPAPath: .
OutFolderName: M365BaselineConformance
OutProviderFileName: ProviderSettingsExport
OutRegoFileName: TestResults
OutReportName: BOD 25-01 Compliance Report-Entra.ID
Aad:
  # All AAD specific variables go here
  MS.AAD.1.1v1: &CommonExclusions
    CapExclusions:
      Groups:
        - a19d6481-a03f-469c-a83f-efc41159fa96
        - c807f793-99b6-4d3f-83f4-ec77bd8012c0
        - e5fce237-0190-47b7-92dd-0557e32a8201
  MS.AAD.2.1v1: &CommonExclusions
    CapExclusions:
      Groups:
        - effc3c5a-43f7-4c15-9d0a-ac240150ea09
        - c807f793-99b6-4d3f-83f4-ec77bd8012c0
        - e5fce237-0190-47b7-92dd-0557e32a8201
  MS.AAD.2.3v1: &CommonExclusions
    CapExclusions:
      Groups:
        - f401f2d7-06b4-47b4-9b35-8a2123c29471
        - c807f793-99b6-4d3f-83f4-ec77bd8012c0
        - e5fce237-0190-47b7-92dd-0557e32a8201
  MS.AAD.3.1v1: &CommonExclusions
    CapExclusions:
      Groups:
        - 5889b95b-56ec-443c-9844-e38bad141ebb
        - c807f793-99b6-4d3f-83f4-ec77bd8012c0
        - e5fce237-0190-47b7-92dd-0557e32a8201
  MS.AAD.3.6v1: &CommonExclusions
    CapExclusions:
      Groups:
        - 6e7f0c1f-3abf-4223-83ba-6a7dc6709f46
        - c807f793-99b6-4d3f-83f4-ec77bd8012c0
        - e5fce237-0190-47b7-92dd-0557e32a8201
  MS.AAD.3.7v1: &CommonExclusions
    CapExclusions:
      Groups:
        - da476fa0-94b8-4068-b11c-2a7be7f1b270
        - c807f793-99b6-4d3f-83f4-ec77bd8012c0
        - e5fce237-0190-47b7-92dd-0557e32a8201
  MS.AAD.3.8v1: &CommonExclusions
    CapExclusions:
      Groups:
        - 6d40830b-7ce5-42e7-88ca-cd4d30eefa8b
        - c807f793-99b6-4d3f-83f4-ec77bd8012c0
        - e5fce237-0190-47b7-92dd-0557e32a8201
  MS.AAD.7.4v1: &CommonRoleExclusions
    RoleExclusions:
      Users:
        - df7d5371-e761-473d-8598-b848460663c4